.home-page_container {
  padding: 184px 96px;
  z-index: -1;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.main-part {
  display: grid;
  grid-template-columns: auto 600px;
}

.main-part__text {
  margin-right: 37px;
}

.small-elem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.small-line {
  width: 54px;
  margin: 0;
  border: none;
  border-top: 1px solid #201f1f;
  opacity: 0.2;
}

.small-text {
  font-family: var(--poppins-family);
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2px;
  color: #201f1f;
  opacity: 0.2;
}

.big-text {
  font-family: var(--poppins-family);
  font-size: 75px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
  color: #201f1f;
}

.purple-text {
  color: #5c4eae;
}

.text-description {
  font-family: var(--inter-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #676767;
  opacity: 0.7;
}

.big-picture__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-picture {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  position: absolute;
  height: 424px;
  width: 424px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.food {
  position: absolute;
  height: 423px;
  width: 423px;
  left: 70px;
  top: -200px;
}

.notification {
  position: absolute;
  height: 90px;
  width: 330px;
  left: 260px;
  top: -260px;
  border-radius: 17px;
  filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.5));
}

.graph {
  position: absolute;
  height: 205px;
  width: 205px;
  left: 10px;
  top: 60px;
  border-radius: 17px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

.arrow {
  position: absolute;
  left: 460px;
  top: -170px;
}

.illustration1 {
  position: absolute;
  left: 600px;
  top: -290px;
}

.illustration2 {
  position: absolute;
  left: -25px;
  top: 270px;
}

.greenStar {
  height: 20px;
  width: 20px;
}

.text {
  height: 20px;
}

.yellowStar {
  width: 96px;
  height: 15px;
}

.amount {
  color: #334155;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .main-part {
    grid-template-columns: auto 480px;
  }

  .small-text {
    font-size: 10px;
    letter-spacing: 1.4px;
  }

  .big-text {
    font-size: 53px;
    letter-spacing: -2px;
  }

  .text-description {
    font-size: 12.8px;
    line-height: 20px;
  }

  .ellipse {
    height: 300px;
    width: 300px;
  }

  .food {
    height: 300px;
    width: 300px;
    left: 75px;
    top: -140px;
  }

  .notification {
    height: 64px;
    width: 234px;
    left: 240px;
    top: -170px;
  }

  .graph {
    height: 146px;
    width: 146px;
    left: 50px;
    top: 40px;
  }

  .arrow {
    height: 70px;
    width: 70px;
    left: 360px;
    top: -105px;
  }

  .illustration1 {
    left: 480px;
    top: -200px;
  }

  .illustration2 {
    left: 10px;
    top: 190px;
  }
}

@media (max-width: 1024px) {
  .home-page_container {
    padding: 110px 68px;
  }

  .main-part__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .main-part {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .big-text {
    width: 80%;
  }

  .text-description {
    width: 90%;
  }

  .big-picture__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-picture {
    height: 300px;
    width: 300px;
  }

  .ellipse {
    top: 50%;
  }

  .food {
    left: -15px;
    top: 10px;
  }

  .notification {
    left: 120px;
    top: -20px;
  }

  .graph {
    left: -20px;
    top: 220px;
  }

  .arrow {
    left: 270px;
    top: 50px;
  }

  .illustration1 {
    left: 360px;
    top: -50px;
  }

  .illustration2 {
    left: -55px;
    top: 370px;
  }
}

@media (max-width: 600px) {
  .home-page_container {
    padding: 93px 31px;
  }

  .big-picture {
    height: 250px;
    width: 250px;
  }

  .ellipse {
    height: 200px;
    width: 200px;
  }

  .food {
    height: 200px;
    width: 200px;
    left: 15px;
    top: 30px;
  }

  .notification {
    height: 42px;
    width: 156px;
    left: 110px;
    top: 10px;
  }

  .graph {
    height: 98px;
    width: 98px;
    left: 10px;
    top: 160px;
  }

  .arrow {
    height: 47px;
    width: 47px;
    left: 205px;
    top: 55px;
  }

  .illustration1 {
    width: 20px;
    height: 11px;
    left: 265px;
    top: 0px;
  }

  .illustration2 {
    width: 18px;
    height: 15px;
    left: -5px;
    top: 260px;
  }
}
