<app-nav></app-nav>
<main class="home-page_container">
  <div class="main-part">
    <div class="main-part__text">
      <div class="small-elem mt70 mb18">
        <hr class="small-line" />
        <span class="small-text">OVER 1000 USERS</span>
      </div>
      <h1 class="big-text">
        Enjoy Foods All Over The <span class="purple-text">World</span>
      </h1>
      <p class="text-description">
        EatLy help you set saving goals, earn cash back offers, Go to disclaimer
        for more details and get paychecks up to two days early. Get a
        <span class="purple-text">$20 bonus</span>.
      </p>
      <div>
        <button class="primary-btn mr18">Get Started</button>
        <button class="secondary-btn">Go Pro</button>
      </div>
      <div class="flex-align-center mt33">
        <div class="mr3">
          <img class="greenStar" src="greenStar.svg" alt="" />
        </div>
        <img class="text mr20" src="text.svg" alt="" />
        <img class="yellowStar mr9" src="yellowStar.svg" alt="" /><span
          class="amount"
          >4900+</span
        >
      </div>
    </div>
    <div class="big-picture__container">
      <div class="big-picture">
        <img class="ellipse" src="ellipse.svg" alt="" />
        <img class="food" src="food.svg" alt="" />
        <img class="notification" src="notification.svg" alt="" />
        <img class="graph" src="graph.svg" alt="" />
        <img class="arrow" src="arrow.svg" alt="" />
        <img class="illustration1" src="illustration1.svg" alt="" />
        <img class="illustration2" src="illustration2.svg" alt="" />
      </div>
    </div>
  </div>
</main>
