<div class="menu-page_container">
  <div class="search">
    <mat-icon class="search__icon" fontIcon="search"></mat-icon
    ><input
      [formControl]="search"
      class="search__input"
      placeholder="Searching for the best food..."
    />
  </div>
  @let dishes = filteredDishes$ | async;
  @if (search.value) {
    <div class="menu-cards">
      @for (dish of dishes; track dish.id) {
        <div class="menu-card">
          <img class="card-picture" [src]="dish.picture" alt="" />
          <div>
            <div
              class="card-label"
              [ngClass]="{
                healthy: dish.label === 'Healthy',
                trending: dish.label === 'Trending',
                supreme: dish.label === 'Supreme',
              }"
            >
              {{ dish.label }}
            </div>
            <div class="card-title">{{ dish.name }}</div>
            <div class="card-info">
              <div class="card-cooking-time">{{ dish.cooking_time }}min</div>
              <div class="dot_container">
                <div class="dot"></div>
              </div>
              <img class="star" src="star.svg" />
              <div class="card-rating">{{ dish.rating }}</div>
            </div>
            <div class="card-footer">
              <div class="card-price">
                <span>${{ dish.price | mathTrunc: "integer" }}</span>
                <span class="card-price-cents">
                  .{{ dish.price | mathTrunc: "fraction" }}
                </span>
              </div>
              @if (getQuantity(dish.id) > 0) {
                <button
                  class="mainDish-button"
                  (click)="deleteFromCart(dish.id)"
                >
                  -
                </button>

                <span>{{ getQuantity(dish.id) }}</span>

                <button class="mainDish-button" (click)="addToCart(dish.id)">
                  +
                </button>
              } @else {
                <button class="mainDish-button" (click)="addToCart(dish.id)">
                  +
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="main-dish_card">
      <img class="mainDish-picture" [src]="mainDish!.picture" />
      <div class="mainDish-info">
        <div>
          <div
            class="mainDish-label"
            [ngClass]="{
              healthy: mainDish?.label === 'Healthy',
              trending: mainDish?.label === 'Trending',
              supreme: mainDish?.label === 'Supreme',
            }"
          >
            {{ mainDish!.label }}
          </div>
          <h3 class="mainDish-title">{{ mainDish!.name }}</h3>
        </div>
        <div class="info-middle-part">
          <p class="mainDish-cooking-time">{{ mainDish!.cooking_time }}min</p>
          <div class="dot_container">
            <div class="dot"></div>
          </div>
          <img class="star" src="star.svg" />
          <p>{{ mainDish!.rating }}</p>
        </div>
        <div class="mainDish-price">
          <span>${{ mainDish!.price | mathTrunc: "integer" }}</span>
          <span class="mainDish-price-cents">
            .{{ mainDish!.price | mathTrunc: "fraction" }}
          </span>
        </div>
        @if (getQuantity(mainDish!.id) > 0) {
          <button
            class="mainDish-button"
            (click)="deleteFromCart(mainDish!.id)"
          >
            -
          </button>

          <span>{{ getQuantity(mainDish!.id) }}</span>

          <button class="mainDish-button" (click)="addToCart(mainDish!.id)">
            +
          </button>
        } @else {
          <button class="mainDish-button" (click)="addToCart(mainDish!.id)">
            +
          </button>
        }
      </div>
    </div>
    <div class="menu-cards">
      @for (dish of allDishes; track dish.id) {
        <div class="menu-card">
          <img class="card-picture" [src]="dish.picture" alt="" />
          <div>
            <div
              class="card-label"
              [ngClass]="{
                healthy: dish.label === 'Healthy',
                trending: dish.label === 'Trending',
                supreme: dish.label === 'Supreme',
              }"
            >
              {{ dish.label }}
            </div>
            <div class="card-title">{{ dish.name }}</div>
            <div class="card-info">
              <div class="card-cooking-time">{{ dish.cooking_time }}min</div>
              <div class="dot_container">
                <div class="dot"></div>
              </div>
              <img class="star" src="star.svg" />
              <div class="card-rating">{{ dish.rating }}</div>
            </div>
            <div class="card-footer">
              <div class="card-price">
                <span>${{ dish.price | mathTrunc: "integer" }}</span>
                <span class="card-price-cents">
                  .{{ dish.price | mathTrunc: "fraction" }}
                </span>
              </div>
              @if (getQuantity(dish.id) > 0) {
                <button
                  class="mainDish-button"
                  (click)="deleteFromCart(dish.id)"
                >
                  -
                </button>

                <span>{{ getQuantity(dish.id) }}</span>

                <button class="mainDish-button" (click)="addToCart(dish.id)">
                  +
                </button>
              } @else {
                <button class="mainDish-button" (click)="addToCart(dish.id)">
                  +
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
