.full-page {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 663px;
}

.banner {
  background-color: var(--primary-color);
}

.btn-auth__container {
  display: flex;
  flex-direction: row;
}

.btn-auth {
  width: 180px;
  height: 60px;
  background-color: var(--form-color);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
