.nav {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
  padding: 57px 96px 0px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.login-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.login-btn:hover {
  cursor: pointer;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.nav-line {
  border: none;
  border-top: 2px solid var(--tetriary-color);
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .nav {
    padding: 57px 68px 0px;
  }

  .nav-btn {
    font-size: 13px;
  }

  .login-btn {
    font-size: 13px;
  }
}

.active {
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .nav-btn {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav {
    padding: 57px 31px 0px;
  }

  .login-btn {
    display: none;
  }

  .primary-btn {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}
