:host {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav {
  padding: 57px 96px 0px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

.logo-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-family: var(--poppins-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
}

.logo-btn:hover {
  cursor: pointer;
}

.nav-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.login-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.login-btn:hover {
  cursor: pointer;
}

.nav-line {
  border: none;
  border-top: 2px solid var(--tetriary-color);
  margin-bottom: 0;
}
