<nav class="nav">
  <div class="nav-main mb25">
    <div class="nav-section">
      <button class="logo-btn mr100">
        <img class="mr10" src="logo.svg" alt="logo" /><span>eatly</span>
      </button>
      <button class="nav-btn mr50">Menu</button>
      <button class="nav-btn mr50">Blog</button>
      <button class="nav-btn mr50">Pricing</button>
      <button class="nav-btn">Contacts</button>
    </div>
    <div class="nav-section">
      <button class="login-btn mr18">Login</button>
      <button class="primary-btn">Sign up</button>
    </div>
  </div>
  <hr class="nav-line" />
</nav>
