.nav {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
  padding: 57px 96px 0px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.login-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.login-btn:hover {
  cursor: pointer;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn-icon {
  display: none;
  cursor: pointer;
}

.register-btn-icon {
  display: none;
  cursor: pointer;
}

.logout-btn-icon {
  display: none;
  cursor: pointer;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.nav-line {
  border: none;
  border-top: 2px solid var(--tetriary-color);
  margin-bottom: 0;
}

.container {
  position: relative;
}

.sidebar {
  box-sizing: border-box;
  z-index: 7;
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  opacity: 1;
  background-color: #cbc8de;
  transition-duration: 0.25s;
  border-radius: 30px 0px 0px 30px;
  overflow: auto;
  padding: 15px 10px;
}

.open {
  visibility: visible;
  right: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.sidebar-btn {
  margin: 10px 0;
}

.sidebar-btn {
  color: white;
  text-decoration: none;
  font-family: var(--poppins-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 1024px) {
  .nav {
    padding: 57px 68px 0px;
  }

  .nav-btn {
    font-size: 13px;
  }

  .login-btn {
    font-size: 13px;
  }
}

.active {
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .nav-btn {
    display: none;
  }
  .nav {
    padding: 23px 31px 0px;
  }

  .login-btn {
    display: none;
  }

  .primary-btn {
    display: none;
  }

  .login-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .nav-btn {
    display: none;
  }
  .nav {
    padding: 20px 10px 0px;
  }

  .login-btn {
    display: none;
  }

  .primary-btn {
    display: none;
  }

  .login-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 100%;
    border-radius: 0;
  }
}
