.mr3 {
  margin-right: 3px;
}

.mr20 {
  margin-right: 20px;
}

.mr9 {
  margin-right: 9px;
}

.mr10 {
  margin-right: 10px;
}

.mr18 {
  margin-right: 18px;
}

.mr20 {
  margin-right: 20px;
}

.mr37 {
  margin-right: 37px;
}

.mr50 {
  margin-right: 50px;
}

.mt33 {
  margin-top: 33px;
}

.mt70 {
  margin-top: 70px;
}

.mt90 {
  margin-top: 90px;
}

.mr100 {
  margin-right: 100px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb160 {
  margin-bottom: 160px;
}
