@use "margins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #6c5fbc;
  --secondary-color: #606060;
  --tetriary-color: #d9d9d9;
  --poppins-family: "Poppins", sans-serif;
  --inter-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary-btn {
  padding: 18px 27px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 18px;
  color: white;
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.secondary-btn {
  padding: 18px 27px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 18px;
  color: var(--primary-color);
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.secondary-btn:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .primary-btn {
    padding: 13px 21px;
    font-size: 12px;
  }

  .secondary-btn {
    padding: 13px 19px;
    font-size: 12px;
  }
}
