@use "margins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary-color: #6c5fbc;
  --secondary-color: #606060;
  --tetriary-color: #d9d9d9;
  --form-color: #f5f5f5;
  --poppins-family: "Poppins", sans-serif;
  --inter-family: "Inter", sans-serif;
  --manrope-family: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary-btn {
  text-decoration: none;
  padding: 18px 27px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 18px;
  color: white;
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
}

.secondary-btn {
  padding: 18px 27px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 18px;
  color: var(--primary-color);
  font-family: var(--inter-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.secondary-btn:hover {
  cursor: pointer;
}

.cart-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-family: var(--poppins-family);
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  img {
    width: 42px;
    height: 42px;
  }
}

.logo-btn:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .primary-btn {
    padding: 13px 21px;
    font-size: 13px;
  }

  .secondary-btn {
    padding: 13px 19px;
    font-size: 13px;
  }

  .logo-btn {
    font-size: 15px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
